.input-wrapper {
  background: rgb(12, 114, 231);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 3px 5px;
}
.input-search {
  flex: 1;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.input-add {
  width: 60px;
  height: 30px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  color: rgb(59, 56, 56);
  background: #fff;
}
